<!-- Admin -->
<div id="admin" class="section gray">
  <div class="container">
  <nav>
    <!-- Fixed Masonry Filters -->
    <div class="center categories-wrapper grey darken-3">
      <div class="categories-container">
        <ul class="categories container">
          <li>Admin</li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="gallery row">
      <div class="col s12 gallery-item">
        <div class="gallery-curve-wrapper">
					<div class="row center">
					  <form class="col s12" ng-submit="login()">
					    <div class="row">
					      <div class="input-field col s12 m6">
					        <input id="email" type="email" class="validate" ng-model="details.email">
					        <label for="email" data-error="x" data-success="✓">Email</label>
					      </div>
					      <div class="input-field col s12 m6">
					        <input id="password" type="password" class="validate" ng-model="details.password">
					        <label for="password">Password</label>
					      </div>
					      <a class="waves-effect waves-light btn green">Sign In</a>
					      <a ng-click="logout()" class="waves-effect waves-light btn red">Sign Out</a>
					    </div>
					  </form>
					</div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /Admin -->

<!-- Core Javascript -->
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/color-thief.min.js"></script>
<script src="js/galleryExpand.js"></script>
<script src="js/init.js"></script>